################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
**/.vs
**/*.user
**/appsettings.Development.json
**/node_modules
**/package-lock.json
